<!doctype html>
<head>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<script src="/socket.io/socket.io.js"></script>


<h1><%= title %></h1>
<input type="text" placeholder="Set Nickname" id="nicker" class="input_item">

<input type="text" id="inputter" class="input_item">
<p class="chatbox"></p>
<div id="gamebox">
    
</div>


<p class="intel_box">

</p>





</canvas>
<p class="current_location"></p>




</body>
<script src="/js/pixi.min.js"></script>
<script src="/js/pixi-sound.js"></script>

<script refer src="/js/the_illest.js"></script>
