<!doctype html>
<head>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<script src="/socket.io/socket.io.js"></script>


<h1><%= title %></h1>

<div id="gamebox">
    
</div>


<p class="intel_box">

</p>

<p class="chatbox"></p>



</canvas>
<p class="current_location"></p>

<input type="text" placeholder="Set Nickname" id="nicker">

<input type="text" id="inputter">



</body>
<script src="/js/pixi.min.js"></script>
<script refer src="/js/the_illest.js"></script>
